{% extends "base.html" %}

{% if username %}
    <h2>Welcome, {{ username }}</h2>
    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
{% endif %}

{% block main %}
<h1>Contact us</h1>
<section id="contact" class="contact">
    <div class="border class" id="card-contact">
        <div id="card-contact-body">
            <fieldset class="text-primary">
                <legend>Please fill out your details below.</legend>
                <form id="contact-form" class="mb-3">
                    <div class="mb-3">
                        <label>Query Relates To Dropdown</label>
                        <select name="query" class="form-select">
                            <option value="">--Please choose an option--</option>
                            <option value="class">Class</option>
                            <option value="personalTrainer">Personal Trainer</option>
                            <option value="gymfacilities">Gym Facilities</option>
                            <option value="membership">Membership</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fName">
                    </div>
                    <div class="mb-3">
                        <label for="lName" class="form-label">Last Name</label>
                        <input type="text" id="lName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="clientEmail" class="form-label">Email</label>
                        <input type="email" id="clientEmail" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="clientTel" class="form-label">Mobile</label>
                        <input type="tel" id="clientTel" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="queryTxtArea" class="form-label">Please outline your query below</label>
                        <textarea id="queryTxtArea" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/formValidation.js') }}"></script>
{% endblock %}