{% extends "base.html" %}

{% block main %}
{% if username %}
    <h2>Welcome, {{ username }}</h2>
    <a class="btn btn-primary" href="{{ url_for('edit') }}">Edit Account</a>
    <a class="btn btn-primary" href="{{ url_for('delete') }}">Delete Account</a>
{% endif %}

<section class="border class">

<h1>Esports Player Page</h1>
<section id="trainer-grid" class="bg-dark border class">
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 1">
        <p class="p trainer">Name: 007</p>
        <p class="p trainer">Speciality: Flank Manuoevers</p>
        <p class="p trainer">Team: FragOut</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 2">
        <p class="p trainer">Name: Deadshot2888</p>
        <p class="p trainer">Speciality: Points and Rushing</p>
        <p class="p trainer">Team: Faxe</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 3">
        <p class="p trainer">Name: ReadyPlayerOne</p>
        <p class="p trainer">Speciality: Trick Shots</p>
        <p class="p trainer">Team: Faxe</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 4">
        <p class="p trainer">Name: Ghost</p>
        <p class="p trainer">Speciality: Sniping and Tactical Support </p>
        <p class="p trainer">Team: Shadow</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 5">
        <p class="p trainer">Name: muzzleBr8ker</p>
        <p class="p trainer">Speciality: Melee and Firearm weapons</p>
        <p class="p trainer">Team: Optics</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 6">
        <p class="p trainer">Name: TheMuscle</p>
        <p class="p trainer">Speciality: Rush and quickfire</p>
        <p class="p trainer">Team: FragOut</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 7">
        <p class="p trainer">Name: Zero</p>
        <p class="p trainer">Speciality: Stealth and Recon</p>
        <p class="p trainer">Team: Optics</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/player_img.jpg" class="card-img-top" alt="Player 8">
        <p class="p trainer">Name: TrexOne2832</p>
        <p class="p trainer">Speciality: Assists and Resupplies</p>
        <p class="p trainer">Team: Shadow</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">Other Stats</a>
    </div>
  </section>
{% endblock %}