{% extends "base.html" %}

{% block main %}
{% if username %}
    <h2>Welcome, {{ username }}</h2>
    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
{% endif %}

<section class="border class">

<h1>Esports Player Page</h1>
<section id="trainer-grid" class="bg-dark border class">
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Player 1">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/gym-slider3.jpg" class="card-img-top" alt="Player 2">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Player 3">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/slider_image1.jpg" class="card-img-top" alt="Player 4">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Player 5">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/slider_image1.jpg" class="card-img-top" alt="Player 6">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/gym-slider4.jpg" class="card-img-top" alt="Player 7">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/gym-slider3.jpg" class="card-img-top" alt="Player 8">
        <p class="p trainer">Name</p>
        <p class="p trainer">Speciality:</p>
        <p class="p trainer">Team:</p>
        <a class="btn btn-primary" href="https://faze.callofdutyleague.com/en-us/">More Info</a>
    </div>
  </section>
{% endblock %}