{% extends "base.html" %}

{% block main %}
{% if username %}
    <h2>Welcome, {{ username }}</h2>
     <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
{% endif %}

<section class="border class">

<h1>Merch Store</h1>
<section id="trainer-grid" class="bg-dark border class">
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 1">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: S</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 2">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: M</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 3">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: L</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 4">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: XXL</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 5">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: XXL</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 6">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: XXXL</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-male shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 7">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: XXXXL</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
    <div class="card card-navigation trainer-female shadow border class">
        <img src="../static/images/shirt_1.jpg" class="card-img-top" alt="Merch 8">
        <p class="p trainer">Name: Team Shirt Crisp Blue</p>
        <p class="p trainer">Size: XXXXXL</p>
        <p class="p trainer">Price: $15.99</p>
    </div>
  </section>
{% endblock %}